*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   width: 100%;
   height: 100vh;
   padding: 20px;
   font-family: Arial, sans-serif;
   color: #333;
   background: #000000;
   height: 100vh;
   display: flex;
   justify-content: center;

}
.container{
   width: 100%;
   height: 100%;
   background: #0c0b0b;
   display: grid;
   grid-template-areas: "out out out out"
              "btn7 btn8 btn9 divide"
              "btn4 btn5 btn6 multiply"
              "btn1 btn2 btn3 sub"
              "clear btn0 equal add";
   justify-content: space-around;
   align-items: center;
   align-self: center;
   gap:0.5rem;
   margin: auto;
}
.output{
   display: block;
   width: 100%;
   grid-area: out;
   font-size: 4.5rem;
   padding: 15px;
   border: none;
   border-radius: 10px;
   background: rgb(29, 26, 20);
   color: coral;
   width: 100%;
   font-weight: 500;
   text-align: right;
   overflow: scroll;
}
.btn{
   width: 115px;
   height: 115px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3rem;
   padding: 0px;
   border-radius: 50%;
   cursor: pointer;
   background: #000;
   color: aqua;
   box-shadow: 2px 2px 2px firebrick;
}
.btn-op-col{
   background: #2c2c2df9;
   box-shadow: none;
   color: aqua;
   border: none;
   transform: scale(1.05);
   transition: transform 0.2s ease-in-out;
}

.btn9{grid-area: btn9;}.btn8{grid-area: btn8;}.btn7{grid-area:btn7;}.div{grid-area: divide;}.btn6{grid-area: btn6;}.btn5{grid-area: btn5;}.btn4{grid-area: btn4;}.multiply{grid-area: multiply;}.btn3{grid-area: btn3;}.btn2{grid-area: btn2;}.btn1{grid-area: btn1;}.sub{grid-area: sub;}.btn0{grid-area: btn0;}.equal{grid-area: equal;color: springgreen !important;}.add{grid-area: add;}.clear{grid-area: clear;color: red !important;}

@media screen and (max-width: 580px) {
   .container{
      width: 100%;
      height: 100%;
      gap:0.01rem;
   }
   .btn{
      width: 60px;
      height: 60px;
      font-size: 1.3rem;
   }
   .output{
      font-size: 2rem;
      padding: 10px;
      font-weight: 300;
   }
}
